*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: #fff;
}

.app-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg-img{
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3
} 

.header{
  margin: 3vh
}
.header-text{
  text-align: center;
  line-height: 100%;
  color: #fff;
  font-size: 3rem;
}

.btnContainer{
  text-align: center;
  display: flex;
  width: 50%;
  margin: auto;
}

.btn{
  margin: auto;
  text-align: center;
  font-size: 3rem;
  color: #fff;
  border: 1px solid;
  border-radius: 20px;
  width: 8vw;
  height: 8vh;
  outline: none;
}

#play{
  background-color: blue;
}

#deal{
  background-color: rgb(251, 56, 219);
}

#hit{
  background-color: rgb(93, 255, 29);
}

#stand{
  background-color: #ff2c2c;
}

#stats{
  background-color: aquamarine;
}

#end{
  background-color: #ffa42c;
}

#cardScreen{
  text-align: center;
  width: 70vw;
  margin: auto;
}

.card{
  height: 70%;
  width: 15%;

  border: 1px solid #000;
  border-radius: 20px;
  font-size: 7rem;
  text-align: center;
  background-color: rgb(228, 228, 228);
  color: rgb(250, 61, 61);
}

.card p{
  line-height: 100%;
}

#dealerCards{
  display: flex;
  height: 35vh;
  width: 100%;
  justify-content: center;
}
#playerCards{
  display: flex;
  height: 35vh;
  width: 100%;
  justify-content: center;
}

.loser{
  color: red;
}

.winner{
  color: green;
}

.push{
  color: orange;
}

.statTable{
  position: absolute;
  display: none;
  top: 0;
  left: 80vw;
  width: 20vw;
  height: 100vh;
  background-color: #000;
  border: solid 1px red;
  color: yellow;
}